body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 14pt;
}

.plant{
    text-align:center;
    border: 0px;
    background-color: white;
}

#form{
    border: 1px solid #99ccff;
    background-color: #99ccff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

input{
    height: 25px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
}

#ps{
    font-size: 10pt;
}