<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Clients</title>
    <link rel="stylesheet" href="../css/clients.css">
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="../js/app.js"></script>
</head>

<body>
<h4>Clients</h4>

<div id="div_form">
    <form id="form" method="post" >
        <input name="name" type="text" placeholder="Name"><br>
        <input name="address" type="text" placeholder="Address"><br>
        <input id="phone" name="phones" type="text" placeholder="Phone"><label id="label" for="phone" onclick="newPhone(this)">+</label>

        <input id="save" type="button" value="save"/>
    </form>
</div>

<div id="clients">
    <table id="table_clients">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phones</th>
            </tr>
    </table>
</div>
</body>
</html>
